
body {
  height: 100%;
  background-color: #ead8cf;
  color: #4b5169;
  font-family: Lucida;
}

.header{
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  border: 0.1em solid #4b5169;
  border-radius: 20px;
  width: 5em;
  font-size: 3em;
  text-align: center;

}

.left{
  width: 100%;
  font-size: 2em;
  text-align: center;
  margin-top: 0.5em;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 0 10% 0 10%;
}

.right{
  font-size: 2em;
  text-align: center;
}

.button {
  display: inline;
  background-color: #4b5169;
  width: 5em;
  height: 3em;
  font-size: 0.5em;
  color: #ead8cf;
  text-align: center;
  border-radius: 0.5em;
}

@media only screen and (min-width: 758px ) {

  .header {
    margin: 0 auto;
    text-align: center;
    border: 5px solid #4b5169;
    border-radius: 20px;
    width: 10em;
    margin-top: 10vh;
    padding: 0.5em;
  }

  .left{
    display: inline;
    float: left;
    margin-left: 5em;
    margin-top: 20vh;
    width: 30vw;
    text-align: left;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin: 0 10% 0 10%;
  }
  
  .right{
    display: inline;
    float: right;
    padding: 1em;
    margin-right: 5em;
    margin-top: 10vh;
    width: 20vw;
    text-align: right;
  }

  .button{
    display: inline-block;
    background-color:#4b5169;
    border-radius: 0.5em;
    width: 6em;
    height: 4em;
    color: #fff;
    font-size: 0.5em;
  }

  h1 {
    font-size: 5em;
    color: #4b5169;
  }

  h2 {
    font-size: 1.5em;
    color: #4b5169;
  }

  h3 {
    color:#4b5169;
    font-size: 1em;
  }
}